## .NET
  bin/
  obj/
  *.user
  *.suo
  *.cache
  *.dll
  *.pdb
  *.exe

  ## IDE
  .vs/
  .vscode/
  .idea/

  ## OS
  .DS_Store
  Thumbs.db

  ## Replit
  .local/
  .cache/
  .config/
  node_modules/
  /artifacts/
  